# Секреты — никогда не пушить
.env
*.env

# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.venv/
env/

# Django
db.sqlite3
*.log
media/**
!media/templates/
!media/templates/docx/
!media/templates/docx/*.docx
!media/templates/docx/attachments/
!media/templates/docx/attachments/*.docx

# IDE
.idea/
.vscode/
*.swp
